@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: #f6ffd0;
    --cor1: #31AE68;
    --cor2: #3b6e52;
    --cor3: #00310b;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Idroid', cursive;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    margin: 0px auto;
    padding: 0px;
}
p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 35px;
    line-height: 1.5em;
    font-size: 17px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: white;
    height: 120px;
    text-align: center;
    padding-top: 40px;
}
header h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}
header h2 {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
}
nav {
    background-color: var(--cor2);
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.15s;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);
}
nav a:hover {
    background-color: var(--cor1);
}
main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px;
}
main strong {
    color: var(--cor2);
}
main h1 {
    font-family: 'Idroid', cursive;
    color: var(--cor3);
    margin-top: 10px;
    padding-left: 20px;
}
main h2 {
    font-family: 'Idroid', cursive;
    color: var(--cor3);
    background-image: linear-gradient(to right, rgb(193, 248, 212), transparent);
    padding-left: 20px;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main video {
    width: 100%;
}
footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
}
.extra {
    background-color: rgb(103, 196, 131);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
}
.extra h3 {
color: white;
background-color: var(--cor3);
margin: -20px -20px 0px -20px;
padding: 10px;
border-radius: 10px 10px 0px 0px;
}
.extra ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    font-weight: bold;
    columns: 2;
}
footer p {
    text-align: center;
    padding: 5px;
    font-size: 13px;

}